doctype html
html(lang="en")
    head

        include Common/Bootstrap.pug
        title Document
    body
        .container
            nav.navbar.navbar-light.bg-light
            img(src="Image/concept-new-team-member-welcome-word-people-celebrate-greeting-concept-vector-illustration_908673-4118.jpg", alt="")
            form.form-inline
                a.btn.btn-primary.m-3(href="/login" role="button") Login
                a.btn.btn-danger.m-3(href="/Signup" role="button") SignUp
